#!/usr/bin/env nextflow
// General parameters 

// QC parameters
params.kmer = 17


// Assembly parameters
params.gs = "900"

conda {
    enabled = true
    useMamba = true
    cacheDir = "/home/fhenning/miniforge3/envs"
}


// running parameters
process {
    executor = 'local' // change here if slurm or PBS is used
    withLabel: resource_intensive {
        cpus = 48
        memory = 200.GB
        }
    withLabel: low_resources {
        cpus = 10
        memory = 10.GB
    }
    withLabel: medium_resources {
        cpus = 20
        memory = 50.GB
    }
    withLabel: genomescope {
        conda = '/home/fhenning/.conda/envs/kmer_tools/'
    }
    withLabel: kat {
        conda = '/home/fhenning/.conda/envs/kat/'
    }
    withLabel: busco {
        conda = '/home/fhenning/miniforge3/envs/busco/'
    }
    withLabel: inspector {
        conda = "/home/fhenning/.conda/envs/ins/"
    }
    withLabel: nextpolish {
        conda = '/home/fhenning/miniforge3/envs/nextpolish'
    }
    withLabel: goldrush {
        conda = '/home/fhenning/.conda/envs/goldrush'
    }
    withLabel: earlGrey {
        conda = '/home/fhenning/Mylena/envs/earlgrey.yaml'
    }
    withLabel: haplotigs {
        conda = '/home/fhenning/miniforge3/envs/haplotigs'
    }
    withLabel: porechop {
        conda = '/home/fhenning/Mylena/envs/porechop.yaml'
    }
    withLabel: yacrd {
        conda = '/home/fhenning/Mylena/envs/yacrd.yaml'
    }
    withLabel: nanoplot {
        conda = '/home/fhenning/Mylena/envs/nanoplot.yaml'
    }
 //   scratch = true // uncomment if there is a scatch disk (I suggest to indicate where it is)
    }

