#!/usr/bin/env nextflow
// General parameters 

conda {
    enabled = true
    useMamba = true
    cacheDir = "miniforge3/envs"
}
singularity {
    enabled = true
    runOptions = "--bind $PWD"
}

// running parameters
process {
    executor = 'local' // change here if slurm or PBS is used
    withLabel: resource_intensive {
        cpus = 20
        memory = 60.GB
        }
    withLabel: low_resources {
        cpus = 10
        memory = 10.GB
    }
    withLabel: medium_resources {
        cpus = 20
        memory = 50.GB
    }
    withLabel: syri {
	conda = 'envs/syri.yaml'}
    withLabel: methylation {
        conda = 'envs/methylation.yaml'}
    withLabel: tel {
        conda = 'envs/tel.yaml'}
    withLabel:whatshap {
        conda = 'envs/whatshap.yaml'}
    withLabel: minimap {
        conda = 'envs/minimap.yaml'}
    withLabel: vcflib {
        conda = 'envs/vcflib.yaml'}
    withLabel: structural {
        conda = 'envs/debreak.yaml'}
    withLabel: qualimap {
        conda = 'envs/qualimap.yaml'}
    withLabel: sniffles {
        conda = 'envs/sniffles.yaml'}
    withLabel: vacmap {
        conda = '/media/jmf/DATOS2/mylena/miniforge3/envs/vacmap_env/'}
    withLabel: jasmine {
        conda = 'envs/jasmine.yaml'}
    withLabel: mosdepth { 
        conda = 'envs/mosdepth.yaml'}
    withLabel: ribotin {
        conda = '/media/jmf/DATOS2/mylena/miniforge3/envs/ribotin2'}
    withLabel: pggb {
       conda = 'envs/pggb.yaml'}
    withLabel: deepvariant {
       container = '/media/jmf/DATOS2/mylena/assembly_project/software/deepvariant_1.6.1.sif'}

}
